.section-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    width: 70%;
    text-align: center;
  }
  

  .episodio-container {
    width: 100%;
  }