.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem 0 1rem;
    background-color: var(--negro);
    color: var(--verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-shrink: 0; 
}

h1 {
    font-size: 20px;
}

ul {
    display: flex;
    padding: 0 1rem 0 1rem;
}

li {
    padding: 0 1.2rem 0 1.2rem;
    list-style-type: none;
    text-decoration: none;
}

a {
    color: black;
}