body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; 
  overflow: hidden; 
}

/* Root Element */
#root {
   height: 100vh; /* Full viewport height */
   width: 100%;
}


/* Main Content Container */
.main-container {
  padding-top:5%;
  display: flex;

}



